@import "reset";
@import "fonts";
@import "helpers";

//#########################################################
//   Vars    ##############################################

$link-color: #fff;
$main-blue: #0087ba;
$main-blue-5: darken($main-blue, 4%);
$main-blue-10: darken($main-blue, 7%);
$main-blue-20: darken($main-blue, 13%);
$main-light-blue: #4cabcf;
$main-gray: #3a3a3a;
$main-light-gray: #e1e1e1;
$main-xlight-gray: #f5f5f5;

//#########################################################
//   Utility Styles     ###################################

.clearfix{@include clearfix();}

.to-caps{text-transform: uppercase;}
.to-italic{font-style: italic};
.t-indent{text-indent: -90000px;}
.list-custom{padding: 0; margin: 0; list-style: none;}
.list-hori li{float: left; display: block;}
.ow{width: 100%;}
.wrapper{width: 960px; margin: 0 auto;}
.light-white-gradient{@include box-gradient(#fff, #e9e9e9);}

.white-text-shadow{text-shadow: 0 -1px $main-blue-20;}

.left-side{float: left;}
.left-side.main{width: 350px;}
.right-side{float: right;}
.right-side.main{width: 600px;}

.right-side{
  .left-side, .right-side{width: 290px;}
}

.sep-shadow{height: 14px; width: 960px; background: url(../img/sep-shadow.png) no-repeat;}

.white-box{@include border-radius(3px); border: 5px solid $main-xlight-gray; padding: 5px; background: #fff;
  h3{color: $main-gray; margin-bottom: 10px; font-size: 120%; font-weight: bold; font-family: Arial, sans-serif!important;}
  p{color: $main-light-blue; margin-bottom: 10px;}
}

.btn{position: relative; width: 100px; color: #000; padding: 10px;  @include border-radius-left(5);}
.btn-white{/*@extend .light-white-gradient;*/ background: #fff; @include box-shadow(0 0 3px #000)}

.btn-vox-pop{display: block; background: rgba(#000, 0.6) url(../img/btn-vox-pop.png) no-repeat 10% 50%; position: absolute; padding: 10px 10px 10px 50px; @include border-radius(5px); @include box-shadow(0 2px 3px rgba(#000, 0.3)); @extend .to-caps; font-family: MisoLight; font-size: 130%; line-height: 0.9; @include transition(all 0.3s ease-in-out);
  strong{display: block; font-family: MisoRegular;}
}
.btn-vox-pop:hover{background-color: rgba(#000, 0.8);}

.arrow-right{
  position: absolute;
  top: 0;
  right: -10px;
  width:0px;
  height:0px;
  border-bottom:19px solid transparent;  /* left arrow slant */
  border-top:19px solid transparent; /* right arrow slant */
  border-left:10px solid #fff; /* bottom, add background color here */
  font-size:0px;
  line-height:0px;
  //@extend .light-white-gradient;
}


//#########################################################
//   General     ##########################################

body{background: $main-blue url(../img/back-main.png); font-family: Arial, sans-serif;}

a{color: $link-color; text-decoration: none;}

h2,h3{font-family: MisoLight;}
h4,h5{font-family: MisoRegular;}

p{line-height: 1.3;}

//#########################################################
//   Header     ###########################################

header{height: 180px;}
header .wrapper{position: relative; padding: 50px 0 0 0;}

.logo-princ{width: 254px; height: 87px; background: url(../img/logo-princ.png) no-repeat; float: left;}
.logo-princ span{display: block;}
.logo-accronym{height: 97px;}
.logo-full-text{font-size: 100%; font-family: MisoLight; letter-spacing: 0.1em;}

.event-details{float: left; margin-left: 30px;
  .lieu{display: block; color: $main-gray; font-family: MisoRegular; font-size: 120%; text-shadow: 1px 1px 0 $main-light-blue;}
  .dates{display: block; font-family: MisoRegular; font-size: 160%; @extend .white-text-shadow;}
  .btn-inscription{display: block; height: 34px; width: 114px; position: relative; margin-top: 5px;
    img{position: absolute; top: 0; left: 0; @include transition(opacity 0.5s ease-in-out);}
    img.btn-insc-normal{z-index: 2;}
    img.btn-insc-normal:hover{opacity: 0;}
  }
  //.btn-inscription:hover{background-position: 0 -34px;}

}

nav.top-right{position: absolute; top: 10px; right: 0;
  ul li{font-family: MisoLight; @extend .to-caps; margin-left: 10px;}
  ul li a:hover{text-decoration: underline;}
}

nav.menu-princ{float: right;
  ul li{ margin-bottom: 3px;
    a{@include border-radius(5px); display: block; background: $main-blue-10; padding: 3px 10px; @extend .to-caps; font-size: 130%; font-family: MisoRegular; text-shadow: 0 -1px $main-blue-20; @include transition(all 0.2s ease-in-out);}
    a:hover{background: $main-blue-5;}
  }
}


//#########################################################
//   Main Content     #####################################

#page-content{background: url(../img/back-zebre.png) no-repeat top center; padding: 25px 0;}
.page-content-block{margin-bottom: 20px;}

h3.box-header{font-size: 180%; @extend .to-caps; @extend .white-text-shadow; margin-bottom: 15px;}


//#########################################
//   Left Side     ########################

#vox-pop{
  .thumb{position: relative; margin-bottom: 10px;
    .btn-vox-pop{bottom: 45px; left: 100px;}
  }
  .content{padding: 10px;
    p{font-size: 90%;}
  }
  .social-bar{font-family: MisoRegular; padding-left: 10px;
    li{margin-right: 15px;}
    span{display: block; font-size: 120%; @extend .to-caps; color: $main-blue-10; border-right: 2px dotted $main-light-gray; padding-right: 15px;}
    a{background: $main-blue-10 url(../img/sprite.png) no-repeat; padding: 3px 7px 3px 20px; font-size: 90%; @extend .to-caps; @include border-radius(3px);}
    a:hover{background-color: $main-blue-5;}
    .btn-facebook{background-position: 5px 4px; padding-left: 18px;}
    .btn-twitter{background-position: 5px -14px; padding-left: 25px;}
  }
}

#news-box{
  ul{ padding-right: 20px;
    li{padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px dotted $main-light-blue;}
    h4{font-size: 90%; font-family: Arial, sans-serif; font-weight: bold; margin-bottom: 10px;}
    p{font-size: 80%;
      a{font-size: 80%;padding: 0 10px; margin-left: 10px; background: $main-blue-20; color: #fff; @include border-radius(5px); @include transition(all 0.2s ease-in-out);}
      a:hover{background: $main-blue-10;}
    }
  }

}


//#########################################
//   Right Side     #######################

#important-numbers{position: relative;
  .btn-nav{display: block;height: 180px; width: 17px; position: absolute;
    span{display: block; @extend .t-indent; height: 24px; width: 17px; position: absolute; top: 60px; left: 0;}
  }
  #btn-precedent{top: 0; left: 10px;
    span{background: url(../img/sprite.png) no-repeat 2px -136px; @include transition(all 0.1s ease-in-out);}
  }
  #btn-precedent:hover span{background-position: 0 -136px;}
  #btn-suivant{top: 0; right: 0;
    span{background: url(../img/sprite.png) no-repeat 3px -101px; @include transition(all 0.1s ease-in-out);}
  }
  #btn-suivant:hover span{background-position: 5px -101px;}
}

#numbers-viewport{ position: relative; margin-left: 25px; width: 561px;
  li{display: block; width: 186px; height: 60px; padding-top: 130px; position: relative;
    span{display: block; font-family: MisoBold; font-size: 700%; text-align: center; text-shadow: 0 2px 3px rgba(#000, 0.35); height: 120px; width: 186px; padding-top: 7px; color: #ebebeb; @include transition(all 0.1s ease-in-out); position: absolute; top: 0; left: 0;}
    //span:hover{font-size: 750%; text-align: center;text-shadow: 0 4px 5px rgba(#000, 0.20); height: 137px; padding-top: 0; cursor: pointer; color: #fff;}
    h2{font-size: 140%; @extend .to-caps; text-align: center;}
  }
  li:hover{cursor: pointer;
    span{font-size: 750%; text-align: center; text-shadow: 0px 6px 5px rgba(#000, 0.20); height: 127px; padding-top: 0; color: #fff;}
  }
}

.rs-content-box{
  p{font-size: 90%;}
}
.white-thumb{@include border-radius(5px); background: #fff; margin-bottom: 15px; min-height: 200px;}

//#########################################
//   Footer     ###########################

.footer-box{float: left; padding-left: 25px; border-left: 1px dotted #2c94ba; margin-left: 20px;
  ul{
    li{padding-left: 10px; background: url(../img/sprite.png) no-repeat 0 -250px; margin-bottom: 1px;}
    a{font-size: 70%;}
    a:hover{text-decoration: underline;}
  }
}

footer{ padding: 20px 0; background: rgba(#000, 0.15) url(../img/back-footer.png) no-repeat top center;
  .google-map{float: left; width: 206px; height: 118px; background: #fff; @include border-radius(5px);}
  #googlemaps-footer{ width: 206px; height: 118px;}
  h2{float: left; height: 26px; width: 76px; margin-left: 20px; background: url(../img/sprite.png) no-repeat 0 -213px; }
  #main-address{float: left; margin-left: 25px;}
  address{font-size: 70%; line-height: 1.3;
    strong{display: block; font-weight: bold; margin-bottom: 5px;}
  }
}